@charset "utf-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content
{
    color: #5557d7;
    font-weight:bold;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(193, 193, 193);
    display: flex;
	justify-content: center;
	align-items: center;
}

.user
{
    font-size: 38px;
    margin-right: 10px;
}
.title
{
    font-size: 38px;
}
.aside
{
    background-color: white;
    border-bottom: 1px solid rgb(193, 193, 193);
    line-height: 50px;

}
.icon-bar
{
    font-size: 22px;
    margin: 12px;
}
.search-box {
	margin: auto;
	right: 0px;
	background: #fafafa;
	border-bottom: 1px solid #e7e7e7;
}
#search {
	margin: 0;
	width: 90%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	height: 40px;
	color: #999;
	padding: 0 10px;
	background: #fafafa;
	outline: none;
	border: none;
}
.search-btn-bg {
	cursor: pointer;
	display: inline-block;
	background-image: none;
	position: relative;
	background: #fafafa;
	outline: none;
	box-shadow: none;
	margin-left: -4px;
	border: none;
	height: 100%;

}
.search-btn-bg:hover {
	color: #2ecc71;
}
.glyphicon-search:before {
	font-size: 12px;
}
.welcome-msg {
	text-align: left;
	display: inline-block;
	padding: 0px;
	margin: 4px 5px;
	font-size: 13px;
	color: #999;
}
.thongbao
{
    font-size: 20px;
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 18px;
    float: right; 
}
.comment
{
	
	font-size: 20px;
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 18px;
	float: right;
}
.menu
{
	margin: auto;
	background-color:white;
    color: white;
    font-weight:bold;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    height: 625px;
}
#nav {
	align-items: end;
	margin-top: 10px;
}

#nav > li {
	width: 90%;
	margin-bottom: 2px;
}
.dropdown-menu {
	padding: 0!important;
}

.btn-block {
	padding: 10px 0px!important;
}

.btn-block:hover {
	background-color: #5557d7;
	color: white;
	border-radius:  0px  0px 5px 5px;
}

#nav > li > a
{
	color: black;
	height: 50px;
	line-height:2em;
}

#nav > li > a:hover
{
	background-color:#ddddec;
	color: black;
	border-radius: 5px;
}

#nav > li > a.active:nth-child(1) 
{
	background-color:#5557d7;
	color: rgb(247, 243, 243);
	border-radius: 5px;
}
.home
{
	background-color: white;
    color: black;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    min-height: 80vh;
}

.dashboard-box {
	display: flex;
	justify-content: space-between;
}

#dashboard
{
	height: 150px;
	border-radius: 5px;
	float: left;
	box-shadow: 0px 3px 5px #b5b4b4;
	color: white;
	max-width: 32%;
  	flex: 1;
}
.color1
{
  background-color: #dfc153;
}
.color2
{
	background-color: #12af53;
}
.color3
{
	background-color: #c2281a;
}
.icon-user
{
	font-size: 40px;
	color: #f4eed9;
}
.btn-load
{
	width: 100%;
	background-color:#f4eed9 ;
	height: 52px;
	border-radius: 0px 0px 5px 5px;
}
.btn-setup
{
	background-color: #614eed;
	color: white;
}

#showinfo {
	margin-top: 20px !important;
}

.tab-content {
	padding: 12px;
	border-left: 1px solid rgb(227, 227, 227);
	min-height: 80vh;
}

.title-tab {
	font-weight: bold;
	margin-bottom: 24px;
}

.btnAction {
	border: none;
	color: #614eed;
	margin-right: 18px;
}

.h4
{
	color: #614eed;
	font-weight:bold;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.content-box {
	height: 70px !important;
}

.username {
	margin: 0;
	border-bottom: 1px solid #e1e0e0;
}

.del .space {
	display: none;
}

.del .space {
	display: none;
}

.check-ex {
	margin: 0.4rem;
}